.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-previous,
  .button-submit {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
   
  }
  
  .button-previous {
    background-color: #007bff ;
    margin-right: 0px;
    
  }
  
  .button-submit {
    background-color: #007bff;
width: fit-content !important;
margin-left: 0px;
height: fit-content;

  }
  

  
  /* Responsive Design */
  @media (max-width: 768px) {
    .button-group {
      flex-direction: row;
      gap: 10px;
    }
  
    .button-previous,
    .button-submit {
      
      width: fit-content;
    }
  }
  